CSBooster.Common-4.0.0.0/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="http://www.sieme.net/config" elementFormDefault="qualified" targetNamespace="http://www.sieme.net/config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="customizationSection" type="tns:_4screen.CSB.Common.CustomizationSectionCT" />
	<xs:element name="widgetSection" type="tns:_4screen.CSB.Common.WidgetSectionCT" />
	<xs:element name="securitySection" type="tns:_4screen.CSB.Common.SecuritySectionCT" />
	<xs:element name="siteObjectSection" type="tns:_4screen.CSB.Common.SiteObjectSectionCT" />
	<xs:element name="siteLinkSection" type="tns:_4screen.CSB.Common.SiteLinkSectionCT" />
	<xs:element name="wizardSection" type="tns:_4screen.CSB.Common.WizardSectionCT" />
	<xs:element name="shopSection" type="tns:_4screen.CSB.Common.ShopSectionCT" />
	<xs:element name="outputTemplatesSection" type="tns:_4screen.CSB.Common.OutputTemplatesSectionCT" />
	<xs:element name="mapSection" type="tns:_4screen.CSB.Common.MapSectionCT" />
	<xs:complexType name="_4screen.CSB.Common.CustomizationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="customizationBar" type="tns:_4screen.CSB.Common.CustomizationTabElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The CustomizationBar.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="profile" type="tns:_4screen.CSB.Common.ProfileSettingsElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Profile.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="modules" type="tns:_4screen.CSB.Common.ModuleElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Modules.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="logins" type="tns:_4screen.CSB.Common.LoginElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Logins.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="myContent" type="tns:_4screen.CSB.Common.MyContentElementCT">
				<xs:annotation>
					<xs:documentation>The MyContent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="defaultLayouts" type="tns:_4screen.CSB.Common.DefaultLayoutsCT">
				<xs:annotation>
					<xs:documentation>The DefaultLayouts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="common" type="tns:_4screen.CSB.Common.CommonCustomizationElementCT">
				<xs:annotation>
					<xs:documentation>The Common.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="contentReports" type="tns:_4screen.CSB.Common.ContentReportsCT">
				<xs:annotation>
					<xs:documentation>The ContentReports.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.CustomizationTabElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="customizationTab" type="tns:_4screen.CSB.Common.CustomizationTabElementCT">
				<xs:annotation>
					<xs:documentation>The CustomizationTabElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pageAddEnabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The PageAddEnabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pageUpdateEnabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The PageUpdateEnabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.CustomizationTabElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.ProfileSettingsElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="profileSettings" type="tns:_4screen.CSB.Common.ProfileSettingsElementCT">
				<xs:annotation>
					<xs:documentation>The ProfileSettingsElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.ProfileSettingsElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.ModuleElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="module" type="tns:_4screen.CSB.Common.ModuleElementCT">
				<xs:annotation>
					<xs:documentation>The ModuleElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.ModuleElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.LoginElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="login" type="tns:_4screen.CSB.Common.LoginElementCT">
				<xs:annotation>
					<xs:documentation>The LoginElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.LoginElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WidgetSectionCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="widgets" type="tns:_4screen.CSB.Common.WidgetElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Widgets.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WidgetElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="widget" type="tns:_4screen.CSB.Common.WidgetElementCT">
				<xs:annotation>
					<xs:documentation>The WidgetElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WidgetElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="settings" type="tns:_4screen.CSB.Common.WidgetSettingsElementCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="steps" type="tns:_4screen.CSB.Common.WidgetStepElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Steps.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="control" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Control.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="titleKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TitleKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="descriptionKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DescriptionKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="groupId" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The GroupId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="orderKey" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The OrderKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="roles" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Roles.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="communities" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Communities.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pageTypes" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The PageTypes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="version" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Version.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="localizationBaseFileName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LocalizationBaseFileName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="outputTemplates" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The OutputTemplates.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="showAfterInsert" use="required">
			<xs:annotation>
				<xs:documentation>The ShowAfterInsert.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WidgetSettingsElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WidgetStepElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="step" type="tns:_4screen.CSB.Common.WidgetStepElementCT">
				<xs:annotation>
					<xs:documentation>The WidgetStepElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WidgetStepElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="titleKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TitleKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="control" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Control.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.MyContentElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="featuredEditEnabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The FeaturedEditEnabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deleteEvent" use="required" type="tns:DeleteEvents">
			<xs:annotation>
				<xs:documentation>The DeleteEvent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultSortOrder" use="required">
			<xs:annotation>
				<xs:documentation>The DefaultSortOrder.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="adminCommunitySelectionEnabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AdminCommunitySelectionEnabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.DefaultLayoutsCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="profileCommunity" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ProfileCommunity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="community" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Community.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="page" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Page.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.SecuritySectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="securityAreas" type="tns:_4screen.CSB.Common.SecurityAreaElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The SecurityAreas.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.SecurityAreaElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="securityArea" type="tns:_4screen.CSB.Common.SecurityAreaElementCT">
				<xs:annotation>
					<xs:documentation>The SecurityAreaElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.SecurityAreaElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="roles" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Roles.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.SiteObjectSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="siteObjects" type="tns:_4screen.CSB.Common.SiteObjectElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The SiteObjects.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.SiteObjectElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="siteObjectType" type="tns:_4screen.CSB.Common.SiteObjectTypeCT">
				<xs:annotation>
					<xs:documentation>The SiteObjectType Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.SiteObjectTypeCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isActive" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsActive.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allowedRoles" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AllowedRoles.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="hasOverview" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The HasOverview.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isFolderContent" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsFolderContent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isGeoTaggable" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsGeoTaggable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isMultiUpload" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsMultiUpload.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="imageActionSmall" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ImageActionSmall.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="imageActionExtraSmall" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ImageActionExtraSmall.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nameSingularKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The NameSingularKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="namePluralKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The NamePluralKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nameCreateMenuKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The NameCreateMenuKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allowedFileExtensions" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AllowedFileExtensions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="icon" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Icon.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="uploadWizard" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The UploadWizard.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="editWizard" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The EditWizard.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numericId" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The NumericId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="niceLinkToOverviewKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The NiceLinkToOverviewKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mediaFolder" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MediaFolder.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="niceLinkToDetailKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The NiceLinkToDetailKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultImageURL" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DefaultImageURL.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="localizationBaseFileName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Root of the Resource</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isSearchable" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsSearchable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cropCheckAndArchive" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CropCheckAndArchive.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="imageActionLarge" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ImageActionLarge.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="imageActionCrop" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ImageActionCrop.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="searchResultCtrl" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SearchResultCtrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assembly" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Assembly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="searchForSelectCtrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SearchForSelectCtrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultLoadAmount" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The DefaultLoadAmount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="uploadMaxFileSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The UploadMaxFileSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="uploadMaxFileCount" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The UploadMaxFileCount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="uploadMaxFileSizeTotal" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The UploadMaxFileSizeTotal.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tagHandlerCtrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TagHandlerCtrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="detailWidgetId" use="optional">
			<xs:annotation>
				<xs:documentation>The DetailWidgetId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="viewHandlerCtrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ViewHandlerCtrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="linkToDetailKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LinkToDetailKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="linkToOverviewKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LinkToOverviewKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="linkToWizardKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LinkToWizardKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mapIcon" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MapIcon.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="imageActionMedium" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ImageActionMedium.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mobileDetailsCtrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MobileDetailsCtrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="niceLinkToMobileDetailKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The NiceLinkToMobileDetailKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="niceLinkToMobileOverviewKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The NiceLinkToMobileOverviewKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mobileOverviewCtrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MobileOverviewCtrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mobileSmallOutputCtrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MobileSmallOutputCtrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.SiteLinkSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="siteLinks" type="tns:_4screen.CSB.Common.SiteLinkElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The SiteLinks.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.SiteLinkElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="siteLink" type="tns:_4screen.CSB.Common.SiteLinkCT">
				<xs:annotation>
					<xs:documentation>The SiteLink Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.SiteLinkCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="predefinedNaviLink" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The PredefinedNaviLink.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="urlTextKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The UrlTextKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="localizationBaseFileName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Root of the Resource</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WizardSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="wizards" type="tns:_4screen.CSB.Common.WizardElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Wizards.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WizardElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="wizard" type="tns:_4screen.CSB.Common.WizardElementCT">
				<xs:annotation>
					<xs:documentation>The WizardElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WizardElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="steps" type="tns:_4screen.CSB.Common.WizardStepElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Steps.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="accessMode" use="required">
			<xs:annotation>
				<xs:documentation>The AccessMode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="objectType" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ObjectType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="resourceKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ResourceKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="localizationBaseFileName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LocalizationBaseFileName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="needsAuthentication" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The NeedsAuthentication.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WizardStepElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="step" type="tns:_4screen.CSB.Common.WizardStepElementCT">
				<xs:annotation>
					<xs:documentation>The WizardStepElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WizardStepElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="settings" type="tns:_4screen.CSB.Common.WizardStepSettingsElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Settings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="resourceKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ResourceKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="control" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Control.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allowBack" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AllowBack.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allowNext" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AllowNext.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lastSaveStep" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The LastSaveStep.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.CommonCustomizationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="breadCrumbUserOrCommunityEnabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The BreadCrumbUserOrCommunityEnabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="titleFormat1" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TitleFormat1.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="titleFormat2" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TitleFormat2.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="titleFormat3" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TitleFormat3.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.ShopSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="shopSettings" type="tns:_4screen.CSB.Common.ShopSettingElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The ShopSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="tags" type="tns:_4screen.CSB.Common.ShopTagElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Tags.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.ShopSettingCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.ShopSettingElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="shopSetting" type="tns:_4screen.CSB.Common.ShopSettingCT">
				<xs:annotation>
					<xs:documentation>The ShopSetting Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.ShopTagElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="tns:_4screen.CSB.Common.ShopTagElementCT">
				<xs:annotation>
					<xs:documentation>The ShopTagElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.ShopTagElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.OutputTemplatesSectionCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="templates" type="tns:_4screen.CSB.Common.OutputTemplateElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Templates.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.OutputTemplateElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="template" type="tns:_4screen.CSB.Common.OutputTemplateElementCT">
				<xs:annotation>
					<xs:documentation>The OutputTemplateElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.OutputTemplateElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="repeaterControl" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RepeaterControl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="outputTemplateControl" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The OutputTemplateControl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="image" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Image.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.ContentReportsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="contentReport" type="tns:_4screen.CSB.Common.ContentReportCT">
				<xs:annotation>
					<xs:documentation>The ContentReport Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="localizationBaseFileName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The LocalizationBaseFileName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.ContentReportCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="reasonKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ReasonKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="textKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TextKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="readOnly" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The ReadOnly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="showSend" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The ShowSend.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.MapSectionCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="maps" type="tns:_4screen.CSB.Common.MapElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Maps.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.MapElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="objectTypes" type="tns:_4screen.CSB.Common.MapObjectTypeElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The ObjectTypes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Width.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Height.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zoom" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Zoom.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="latitude" use="optional" type="xs:double">
			<xs:annotation>
				<xs:documentation>The Latitude.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="longitude" use="optional" type="xs:double">
			<xs:annotation>
				<xs:documentation>The Longitude.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mapLayout" use="optional">
			<xs:annotation>
				<xs:documentation>The MapLayout.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mapStyle" use="optional">
			<xs:annotation>
				<xs:documentation>The MapStyle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mapNavigation" use="optional">
			<xs:annotation>
				<xs:documentation>The MapNavigation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.MapObjectTypeElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="tags" type="tns:_4screen.CSB.Common.MapObjectTypeTagElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Tags.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="iconUrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The IconUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="selected" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Selected.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.MapObjectTypeTagElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="iconUrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The IconUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="selected" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Selected.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="title" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Title.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.MapElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="map" type="tns:_4screen.CSB.Common.MapElementCT">
				<xs:annotation>
					<xs:documentation>The MapElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.MapObjectTypeElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="objectType" type="tns:_4screen.CSB.Common.MapObjectTypeElementCT">
				<xs:annotation>
					<xs:documentation>The MapObjectTypeElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.MapObjectTypeTagElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="tns:_4screen.CSB.Common.MapObjectTypeTagElementCT">
				<xs:annotation>
					<xs:documentation>The MapObjectTypeTagElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WizardStepSettingsElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="settingsEntry" type="tns:_4screen.CSB.Common.WizardStepSettingsElementCT">
				<xs:annotation>
					<xs:documentation>The WizardStepSettingsElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_4screen.CSB.Common.WizardStepSettingsElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="DeleteEvents">
		<xs:annotation>
			<xs:documentation>DeleteEvents.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Delete">
				<xs:annotation>
					<xs:documentation>Delete.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="StatusDeleted">
				<xs:annotation>
					<xs:documentation>StatusDeleted.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
